@using System.Web.Mvc.Html
@using AbstractTunes.Data.Models.Songs
@model AbstractTunes.Data.Models.Songs.Song

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Song</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Metadata.Title)
                <br/>
                @Html.TextBoxFor(m => m.Metadata.Title)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Metadata.Artist)
                <br />
                @Html.TextBoxFor(m => m.Metadata.Artist)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Metadata.Genre)
                <br />
                @Html.TextBoxFor(m => m.Metadata.Genre)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Metadata.AlbumInfo.Name)
                <br />
                @Html.TextBoxFor(m => m.Metadata.AlbumInfo.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Metadata.AlbumInfo.ArtworkLink)
                <br />
                @Html.TextBoxFor(m => m.Metadata.AlbumInfo.ArtworkLink)
            </div>
        </div>
        
        <div class="form-group" style="display: none;">
            <div class="col-md-12">
                @Html.LabelFor(m => m.File.Name)
                <br/>
                @Html.TextBoxFor(m => m.File.Name, new { @Value = "Some Value"})
                <br/>
                @Html.LabelFor(m => m.File.Type)
                <br/>
                @Html.DropDownListFor(m => m.File.Type, new[]
                {
                    new SelectListItem
                    {
                        Text = AudioFileType.Mp3.ToString(),
                        Value = AudioFileType.Mp3.ToString()
                    },
                    new SelectListItem
                    {
                        Text = AudioFileType.Wav.ToString(),
                        Value = AudioFileType.Wav.ToString()
                    }
                })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
