@using System.Web.Mvc.Html
@using AbstractTunes.Data.Models.Songs
@model AbstractTunes.Data.Models.Songs.Song

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song #@Model.Metadata.SongId</h4>
    <hr />
    

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Metadata.Title): 
            @Model.Metadata.Title
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Metadata.Artist):
            @Model.Metadata.Artist
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Metadata.Genre):
            @Model.Metadata.Genre
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Metadata.AlbumInfo.Name):
            @Model.Metadata.AlbumInfo.Name
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Metadata.AlbumInfo.ArtworkLink):
            @Model.Metadata.AlbumInfo.ArtworkLink
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.File.Name):
            @Model.File.Name
            <br />
            @Html.LabelFor(m => m.File.Type):
            @Model.File.Type
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>

<hr />
<dl class="dl-horizontal"></dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Metadata.SongId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
